<!DOCTYPE html>
<html>
<head>
    <title>Гарантийное письмо</title>
</head>
<body>
    <h2>Гарантийное письмо</h2>

    <p>{{ today }}</p>

    <p>Настоящим {{ supplier_name }} гарантирует качественную поставку товаров по лоту "{{ lot_title }}" (№{{ lot_id }}).</p>

    <p>Мы обязуемся выполнить поставку в установленные сроки и в полном соответствии с техническими требованиями.</p>

    <p>В случае возникновения вопросов, просьба обращаться по контакту: {{ contact }}.</p>

    <p>С уважением,<br>
    {{ supplier_name }}</p>
</body>
</html>
